{% load bootstrap3 %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- STYLING CSS LINKED HERE -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

    <!-- ULKIT CSS -->
    <link href="{% static 'ulkit/css/uikit.min.css' %}" rel="stylesheet">

    <!-- ULKIT JS -->
    <script type="text/javascript" src="{% static 'ulkit/js/uikit.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ulkit/js/uikit-icons.min.js' %}"></script>



    <title> Conducteur</title>
    {% block styles%} {% bootstrap_css %} {% endblock %}
</head>

<body>
    {% include 'driver/navbar.html' %}
    {% block content %}
    <h1 style="text-align: center;">Modifier Trajet</h1>
    <div class="container">
        <form  method="POST" action="/driver/modifier">
                {% csrf_token %}
                <input type="hidden" name="identifiant" value="{{ dataTrajet.id }}">
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="form-group">
                            <label>Départ</label>
                            <input class="form-control" type="text" name="depart" value="{{ dataTrajet.depart }}">
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="form-group">
                            <label>Arrivé</label>
                            <input class="form-control" type="text" name="arrivee" value="{{ dataTrajet.arrivee }}">
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="form-group">
                            <label>Prix</label>
                            <input class="form-control" type="number" name="prix" value="{{ dataTrajet.prix }}">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Modifier</button>
                </div>
        </form>

    </div>
{% endblock %}
</body>
</html>