{% extends 'landingpage/base.html' %} 
{% load bootstrap3 %} 
{% block content %} 
<div class="wrapper">




            <div class="homebody">
            
                <div class="header">
            
                    <img src="../../static/css/images/uber.png" alt="">
                    <h1>Bienvenue dans le site de Covoiturage!</h1>
                    <p>Développée par Moussa Diégane SARR et Ibrahim DATTE</p>
            
                </div>
            
                <!-- Buttons -->
                <div class="driverbtn">
                    <a href="/driver/profile">
                        <p> Conducteur </p>
                    </a>
                </div>
                <div class="passengerbtn">
                    <a href="/passenger/profile">
                        <p> Passager</p>
                    </a>
                </div>

            </div>




</div>

{% endblock %}


