{% load bootstrap3 %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- STYLING CSS LINKED HERE -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    

    <!-- ULKIT JS -->
    <script type="text/javascript" src="{% static 'ulkit/js/uikit.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ulkit/js/uikit-icons.min.js' %}"></script>
    



    <title> Covoiturage</title>
    {% block styles%} 
    {% bootstrap_css %} 
    {% endblock %}
</head>

<body>
     {% include 'passenger/navbar.html' %}
    <div class="container-fluid" id="body">
        {% block content %}
                <h2>Trajet disponible</h2>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <table class="table table-striped w-auto">
                        <thead>
                            <th>Départ</th>
                            <th>Arrivé</th>
                            <th>Prix</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            {% for form in formset %}
                                <tr class="table-info">
                                    <td scope="row"> {{ form.depart.value }} </td>
                                    <td scope="row"> {{ form.arrivee.value }} </td>
                                    <td scope="row"> {{ form.prix.value }} </td>
                                    <td scope="row"> <button class="btn btn-success">
                                        <a href="/passenger/souscrire?query=Trajet {{ form.depart.value }} {{ form.arrivee.value }} à {{ form.prix.value }} FCFA souscite avec succés">Souscrire</a></button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endblock %}
    </div>
</body>

</html>