{% load bootstrap3 %} {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- STYLING CSS LINKED HERE -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">


    <!-- ULKIT JS -->
    <script type="text/javascript" src="{% static 'ulkit/js/uikit.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ulkit/js/uikit-icons.min.js' %}"></script>




    <title> Covoiturage</title>
    {% block styles%}
    {% bootstrap_css %}
    {% endblock %}
</head>
<body>
    {% include 'passenger/navbar.html' %}
    <div class="container-fluid" id="body">
        {% block content %}
            <h1 style="text-align: center;">Trajet souscrite avec succés</h1>
            <h3 style="text-align: center;">Bon voyage!</h3>
            <table class="table table-flush" id="datatable-basic">
                <thead>
                    <th>Depart</th>
                    <th>Arrivé</th>
                    <th>Prix</th>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ result.depart }}</td>
                        <td>{{ result.arrivee }}</td>
                        <td>{{ result.prix }}</td>
                    </tr>
                </tbody>
            </table>

        {% endblock %}
    </div>
</body>
</html>